  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgb(18, 220, 255), #e9c5ff);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    border-collapse: collapse;
    margin: 30px;
}
td{
    border: 1px solid black;
    padding: 8px;
    font-weight: bolder;
}
th{
    text-shadow: 1px 2px aliceblue;
    font-size: 20px;
    color: #0c0f30;
    padding: 10px;
}
p{
    font-size: 25px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 3px black;
    margin: 10px;
}
a{
    text-decoration: none;
    color: white;
    border: 1px solid #0c0f30;
    padding: 10px;
    border-radius: 8px;
    background-color: #0c0f30;
    box-shadow: 2px 3px white;
    font-size: 20px;
    margin: 20px;
}
a:hover{
    background-color: rgb(18, 220, 255);
    border: none;
    transition: .4s;
    color: black;
    box-shadow: 4px 4px white;
    font-size: 23px;
}
h1{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}
h2{
    padding: 12px 10px;
    font-family: 'PT Serif', serif;
}